body {
    background-color: rgb(10, 10, 10);
    height: 100%;
    overflow: hidden;
}

h1 {
    margin-top: 200px;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: xxx-large;
}
p {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: larger;
}

button {
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: rgb(50, 50 ,50);
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px rgb(50, 50 ,50);
    text-align: center;
    font-size: xx-large;
}

button:hover {
    background-color: rgb(100, 100 ,100);
    box-shadow: 0px 0px 3px 3px rgb(100, 100 ,100);
    transition: 0.3s;
}

#row1 {
    text-align: center;
}

#row2 {
    text-align: center;
}

#row3 {
    text-align: center;
}

#win {
    display: none;
    text-align: center;
}

#playAgain {
    height: 75px;
    width: 250px;
}